<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="bw-runtime">
<locations>

<location path="/C:/tibco/home/bw/6.5/config/drivers/shells/jdbc.mariadb.runtime//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco/home/bw/6.5/config/drivers/shells/jdbc.mariadb.runtime//runtime/plugins" type="Directory"/>
<location path="/C:/tibco/home/bw/palettes/dynamicscrm/6.8//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco/home/bw/palettes/dynamicscrm/6.8//runtime/plugins" type="Directory"/>
<location path="/C:/tibco/home/bw/palettes/salesforce/6.6//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco/home/bw/palettes/salesforce/6.6//runtime/plugins" type="Directory"/>


<location path="C:/tibco/home/bw/6.5/system/hotfix/lib/common" type="Directory"/>
<location path="C:/tibco/home/bw/6.5/system/lib/common" type="Directory"/>

<location path="C:/tibco/home/bw/6.5/system/hotfix/palettes" type="Directory"/>
<location path="C:/tibco/home/bw/6.5/system/palettes" type="Directory"/>

<location path="C:/tibco/home/bw/6.5/system/hotfix/shared" type="Directory"/>
<location path="C:/tibco/home/bw/6.5/system/shared" type="Profile"/>
</locations>
</target>
